VITE_SITE_URL=https://vinaykumar.dev
VITE_SITE_NAME=Vinay Kumar
VITE_GA_ID=
VITE_RESUME_URL=
VITE_PROFILE_IMAGE=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_TWITTER_HANDLE=@vinaykumar
